[submodule "frameworks/mpeg-pcc-tmc13"]
	path = frameworks/mpeg-pcc-tmc13
	url = https://github.com/MPEGGroup/mpeg-pcc-tmc13.git
[submodule "frameworks/pcc_geo_cnn_v2"]
	path = frameworks/pcc_geo_cnn_v2
	url = https://github.com/mauriceqch/pcc_geo_cnn_v2.git
[submodule "frameworks/PCGCv2"]
	path = frameworks/PCGCv2
	url = https://github.com/NJUVISION/PCGCv2.git
